<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Serial =====================================================================================-->
    <add key="SerialBaudRate" value="115200"/>
    <add key="SerialDataBits" value="8"/>
    <!-- None, Odd, Even, Mark, Space -->
    <add key="SerialParity" value="None"/>
    <!-- None, One, OnePointFive, Two -->
    <add key="SerialStopBits" value="None"/>
    <!-- ASCII, UTF-7, UTF-8, UTF-16, UTF-32, Unicode, Default, BigEndianUnicode -->
    <add key="SerialEncoding" value="ASCII"/>
    <!-- None, RequestToSend, RequestToSendXOnXOff, XOnXOff-->
    <add key="SerialHandshake" value="None"/>
    <add key="SerialDataSeperator" value=","/>
    <!-- DB =========================================================================================-->
    <!-- localhost recomended -->
    <add key="DBServer" value="localhost"/>
    <add key="DBDataBase" value="TELEMETRY"/>
    <add key="DBTestDataBase" value="TELETEST"/>
  </appSettings>
</configuration>